# Environnement Python
venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

# Données (on ne versionne pas les fichiers de données)
data/raw/*
data/processed/*
!.gitkeep

# exception : petit jeu d'exemple, utile au lecteur du repo
!data/raw/ventes_brutes.csv      
!data/raw/catalogue.json         
